@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

body, html {
    height: 100%;
    margin: 0;
}
.content {
    min-height: calc(100vh - 64px); /* Adjust based on header and footer height */
}

#dropdown {
    z-index: 1000; /* Ensure the dropdown is above other content */
}
.relative {
    position: relative;
}

/* Add styles for search results */
#search-results {
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
}
.post-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}