<!-- <p>login works!</p> -->

<app-navbar-introduce></app-navbar-introduce>
<div class="bg-gray-300 flex flex-col items-center justify-center h-screen">
    <div class="py-8 px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
        <h1 class="text-4xl font-bold mb-4">Welcome Back</h1>
        <p class="text-xl text-gray-900">Sign in to access your account.</p>
        </div>
    </div>
  
    <div class="bg-white shadow-md rounded-lg p-8 max-w-md w-full mx-auto">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mb-4">
            <label
            for="usernameOrEmail"
            class="text-lg font-normal block mb-2"
            [ngClass]="{'text-red-500': errorUserNotFound, 'text-gray-800': !errorUserNotFound}"
            >
            Email or Username
            </label>
            <input
            type="text"
            id="usernameOrEmail"
            name="usernameOrEmail"
            [(ngModel)]="usernameOrEmail"
            required
            #emailInput="ngModel"
            [ngClass]="{
                'border-red-500 focus:ring-red-500': errorUserNotFound,
                'border-gray-300 focus:ring-gray-700': !errorUserNotFound
            }"
            class="w-full px-4 py-2 h-14 border rounded-lg focus:outline-none"
            placeholder="Email or Username"
            />
            <div *ngIf="loginForm.submitted && emailInput.invalid" class="text-red-500 text-sm mt-1">
                Email hoặc Username không được để trống
            </div>
        </div>
        <div class="mb-4 relative">
            <label
            for="password"
            class="text-lg font-normal block mb-2"
            [ngClass]="{'text-red-500': errorPassword, 'text-gray-800': !errorPassword}"
            >
            Password
            </label>
            <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
            #passwordInput="ngModel"
            [ngClass]="{
                'border-red-500 focus:ring-red-500': errorPassword,
                'border-gray-300 focus:ring-gray-700': !errorPassword
            }"
            class="w-full px-4 py-2 h-14 border rounded-lg focus:outline-none"
            placeholder="Password"
            />
            <button
            type="button"
            class="absolute right-3 top-12 mt-1 text-gray-500 hover:text-gray-700"
            (click)="togglePasswordVisibility()"
            >
            <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
            <div *ngIf="loginForm.submitted && passwordInput.invalid" class="text-red-500 text-sm mt-1">
            Mật khẩu không được để trống 
            </div>
        </div>
        <div class="mb-4 flex items-center">
            <input type="checkbox" id="remember-me" name="rememberMe" [(ngModel)]="rememberMe" class="form-checkbox" />
            <label for="remember-me" class="ml-2 text-gray-700">Remember me</label>
        </div>
        <div class="flex justify-center mb-4">
            <button
            type="submit"
            class="bg-gray-800 h-14 text-white text-center text-lg font-medium px-4 py-2 w-full rounded-full bg-gradient-to-br from-gray-600 to-gray-900 hover:from-gray-700 hover:to-gray-900"
            >
            Sign In
            </button>
        </div>
        <div class="text-center mb-4 grid justify-items-end ">
            <a routerLink="/auth/forgot-password" class="text-gray-900 hover:underline">Forgot Password?</a>
        </div>
        <div class="flex justify-center">
            <a routerLink="/auth/register">
            <button
                type="button"
                class="text-white px-4 py-2 h-14 text-center font-medium w-52 text-lg rounded-full bg-gradient-to-br from-indigo-500 to-purple-600 hover:from-indigo-600 hover:to-purple-700"
            >
                Create an account
            </button>
            </a>
        </div>
        </form>
    </div>
</div>  
<router-outlet></router-outlet>