<nav class="bg-white shadow-md">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a href="HomePage.html" class="text-2xl font-bold text-indigo-800">MyBlog</a>
        <div class="flex space-x-4 ml-auto">
            <!-- <a href="blogs_introduce.html" class="text-gray-700 hover:text-gray-900">Blogs</a> -->
            <a href="aboutus.html" class="text-gray-700 hover:text-gray-900">Abouts</a>
            <!-- <a href="contact_us.html" class="text-gray-700 hover:text-gray-900">Contact</a> -->
            <a href="login.html" class="text-gray-700 hover:text-gray-900"><i class="fas fa-pen"></i> Write</a>
        </div>
        <div class="flex space-x-4 items-center ml-4">
            <!-- Language Switcher -->
            <!-- <select id="language-switcher" class="text-gray-700 border rounded-lg focus:outline-none">
                <option value="en">English</option>
                <option value="vi">Tiếng Việt</option>
                <option value="fr">Français</option>
                Add more languages as needed
            </select> -->
            <!-- login Icon -->
            <a href="login.html" class="text-gray-700 hover:text-gray-900"><i class="fas fa-user"></i> Login</a>
        </div>
    </div>
</nav>
