<nav class="bg-white shadow-md">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a href="/front_end/html_mockup/page/introduce_page.html" class="text-3xl font-bold text-indigo-800">MyBlog</a>
        <div class="flex space-x-4 ml-auto">
            <!-- <a href="blogs_introduce.html" class="text-gray-700 hover:text-gray-900">Blogs</a> -->
            <!-- <a href="aboutus.html" class="text-gray-700 hover:text-gray-900">Abouts</a> -->
            <!-- <a href="contact_us.html" class="text-gray-700 hover:text-gray-900">Contact</a> -->
            <!-- <a href="login.html" class="text-gray-700 hover:text-gray-900"><i class="fas fa-pen"></i> Write</a> -->
        </div>
    </div>
</nav>
