<nav class="bg-white shadow-md w-full">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
        <a href="/front_end/html_mockup/page/introduce_page.html" class="text-3xl font-bold text-blue-600">MyBlog</a>
        <div class="flex space-x-4 ml-auto">   
            <a href="/front_end/html_mockup/page/about_introduct.html" class="text-gray-700 hover:text-indigo-900 text-xl font-light mt-2"><i class="fa-solid fa-circle-info mr-2"></i>Abouts</a>
        <div class="flex space-x-4 items-center ml-4">
            <a href="/front_end/html_mockup/page/auth/login.html" class="text-white rounded-md px-2 py-2 hover:text-white-700 bg-indigo-600 hover:bg-indigo-700 text-xl font-light"><i class="fa-solid fa-right-to-bracket mr-2"></i>Sign in</a>
        </div>
    </div>
</nav>
