<nav class="bg-white shadow-md w-full">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a href="/front_end/html_mockup/page/HomePage.html" class="text-3xl font-bold text-black">MyBlog</a>
        <div class="flex space-x-4 ml-auto">   
            <a href="/front_end/html_mockup/page/about_introduct.html" class="text-gray-700 hover:text-gray-900 text-xl font-light"><i class="fa-solid fa-circle-info mr-2"></i>Abouts</a>
        <div class="flex space-x-4 items-center ml-4">
            <a href="/front_end/html_mockup/page/auth/login.html" class="text-gray-700 hover:text-gray-900 text-xl font-light"><i class="fa-solid fa-right-to-bracket mr-1"></i> Login</a>
        </div>
    </div>
</nav>
